<section class="timeline">
  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="book-outline"></ion-icon>
    </div>
    <h3 class="h3">Education</h3>
  </div>

  <ol class="timeline-list">
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Virginia Tech</h4>
      <span>Aug 2023 — May 2027</span>
      <p class="timeline-text">Bachelor of Science in Computer Science with a Minor in Mathematics and Finance</p>
      <p class="timeline-text">GPA: 3.61 / 4.0</p>
    </li>

    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">IES Bhavans, Kuwait</h4>
      <span>Jan 2010 — May 2023</span>
      <p class="timeline-text">Senior School Certificate Examination in Computer Science GPA: 91.2/100</p>
      <p class="timeline-text">Secondary School Examination in Information Technology GPA: 94.3/100</p>
    </li>
  </ol>
</section>
